@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
     font-family: 'Outfit', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    word-spacing: 8px;
}

.primermain{
    width: 100%;
    height: 100%;
    background-color:rgb(255, 180, 42); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}

.intro1{
    font-size: 40px;
}

.intro2{
    font-size: 80px;
}

.intro3{
    font-size: 20px;
}



img{
   width: 250px;
   height: 250px;
   border: 10px white solid ; 
   border-radius: 50%;
}

/*
.primerSecHeader{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px; 
    text-align: center;
}

.titulo{
    position: relative;
    bottom: 5px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    word-spacing: 8px;
    position: relative;
    bottom: 3px;
}

.logosHeader{
    position: relative;
    top: 1px;
    word-spacing: 3px;
}

i{
    color: grey;
}

/* Barra de navegacion terminada*/

/*Comienza la segunda parte del header(introduccion + foto)

.segundoSecHeader{
     background-color: rgb(255, 180, 42);
     height: 420px;
     width: 100%;
}

.introTexto{
    position: relative;
    left: 260px;
    top: 100px;
}

.intro1{
    font-size: 40px;
}

.intro2{
    font-size: 80px;
}

.intro3{
    font-size: 20px;
}

.botonesHeader{
    position: relative;
    top: 10px;
}

.botonintro1{
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: black;
    border: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botonintro2{
    font-family: 'Outfit', sans-serif;
    position: relative;
    left: 10px;
    border: 0;
    background-color: rgb(255, 180, 42);
}

img{
    width: 270px;
    height: 270px;
    position: relative;
    left: 700px;
    bottom: 250px;
    border: 10px white solid;
    border-radius: 50%;
}

/*Finalizado el header*/
/*Comienza la primera parte del main con info personal

.infoPersonal{
     font-family: 'Outfit', sans-serif;
}

.infoPersonalh4h2{
    display: block;
    text-align: center;
    padding-top: 100px;
}

.sobreMi{
    background-color: rgb(255, 180, 42);
    padding-left: 10px;
    padding-right: 10px;
}

