@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
     font-family: 'Outfit', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    word-spacing: 8px;
}

/*Finalizada la barra de navegacion*/
/*Comienza la primera parte del main*/

.primermain{
    background-color:rgb(255, 180, 42); 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.intro1{
    font-size: 40px;
}

.intro2{
    font-size: 80px;
}

.intro3{
    font-size: 20px;
}

.botonintro1{
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: black;
    border: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.botonintro2{
    font-family: 'Outfit', sans-serif;
    position: relative;
    left: 10px;
    border: 0;
    background-color: rgb(255, 180, 42);
    text-decoration: underline black;
}

.fotoyo{
   width: 250px;
   height: 250px;
   border: 10px white solid ; 
   border-radius: 50%;
}

/*Finalizada la primera parte del main*/
/*Comienza la segunda parte del main*/

.sobremi{
    background-color: rgb(255, 180, 42);
}

.dospalabras1{
    text-align: center;
    padding-top: 80px;
}

.holasoy{
    margin-top: 50px;
    margin-left: 350px;
    font-size: 23px;
    width: 500px;
}

.segundomain{
    width: 100%;
  }

.contenedorhijo{ 
   margin: 0 auto;
   width: 70%;
   text-align: left;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.presentacion{
    width: 600px;
}

.experiencia{
    text-align: center;
    align-content: center;
    width: 100px;
}

.numerouno{
    background-color:  rgb(255, 180, 42);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
}

.tabla{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*Finalizada la segunda parte del main/*
/*Comienza la tercera parte del main*/

.quehago{
    background-color: rgb(255, 180, 42);
}

.dospalabras2{
    text-align: center;
    padding-top: 80px;
}

.tercermain{
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.contenedorcajas{
    display: flex;
    justify-content: center;
}

.contenedorcajas2{
   display: flex;
   justify-content: center;
}

.medidas{
    width: 250px;
    height: 150px;
}

.caja{
    text-align: center;
    padding-top: 40px;
}

.bicolor{
    color:  rgb(255, 180, 42);
    font-size: 28px;
}

/*Tercera parte del main finalizada*/
/*Comienza la cuarta parte del main*/

.dospalabras3{
    text-align: center;
    padding-top: 80px;
}

.curriculum{
    background-color: rgb(255, 180, 42);
}

.mieducacion, .mishabilidades{
    text-align: center;
    padding-top: 30px;
    text-decoration: underline rgb(255, 180, 42);
}

.contenedordeestudios{
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-top: 50px;
}

.colegio, .universidad{
    padding-bottom: 15px rgb(255, 180, 42);
}

.subrayado, .subrayado2{
    text-decoration: underline 2px rgb(255, 180, 42);
}

.subrayado3, .subrayado4{
    text-decoration: underline 2px rgb(144, 12, 63);
}

.habilidades{
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.contenedorpadrehr{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contenedorhr2{
    margin-left: 80px;
}

hr{
    width: 500px;
    height: 5px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(255, 180, 42)
}

.html-css1{
    width: 200px;
}

.html-css2{
    width: 300px;
}

.html-css3{
    width: 200px;
}

.html-css4{
    width: 350px;
}

.html-css5{
    width: 100px;
}

.html-css6{
    width: 80px;
}

.descargarcv{
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: black;
    border: 0;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
}

.botoncv{
    text-align: center;
    padding-top: 30px;
}

.dospalabras4{
    text-align: center;
    padding-top: 70px;
}

.portfolio{
    background-color: rgb(255, 180, 42);
}

/*Finalizada la quinta parte del main*/
/*Comienza la sexta y ultima parte del main*/

.proyectosbotones{
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline 2px rgb(144, 12, 63);
}

.palabras{
    padding-top: 30px;

}

.sextomain{
    
}

.galeria-padre{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top: 30px;
}

.imgproyecto{
    width: 300px;
    height: 300px;
    margin: 5px;
}


